#player {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.video-container {
  flex-grow: 1;
}
.button-wrapper {
  background-color: black;
  display: flex;
  flex-direction: row;
}
.player-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  margin: 11px;
  margin-left: 2px;
  margin-right: 17px;
  color: white;
  height: 50%;
  width: 10px;
  flex-grow: 1;
}
.duration-numbers {
  color: white;
  font-family: 'Roboto', regular;
  margin-right: 3px;
  margin-left: 1px;
}
.duration-block {
  font-size: 15px;
  margin-top: 13px;
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
}
.duration-line {
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 90%;
  margin-left: 8px;
  cursor: pointer;
}
.duration-slider {
  background-color: red;
  height: 5px;
  margin-top: 8px;
  margin-left: 5px;
  border-radius: 30px;
}
.dot {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s;

  margin-top: 4px;
  margin-left: -11px;
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  display: inline-block;
}
.duration-line:hover .dot {
  opacity: 1;
}
